html{
	background: linear-gradient(#2F53A6, #416FDA);
	height:100%;
}

body {

	padding:8px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto; 
	font-size: 1.4em;
	text-align: center;
	
}


.title{
	font-size:20px;
	background: ;
	width:6em;
	display: inline-block;
}

.buttons{
	display: inline-block;
}

.checkbox{
	font-size:10px;
	color:404040;
	padding-right:4.5em;

}

.back{
	position: absolute;
}

h3 {
	font:"NexaLight";
	color: #ffffff;
}

input[type=submit] {
background:    #ffffff;
border:        1px solid #0D32A9;
border-radius: 3px;
color:         #0D32A9;
position: center;
font:         "NexaLight";
text-align:    center;
height: 50px;
width: 693px;
font-size: 18px;
}
input[type=submit]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0D32A9), color-stop(1, #0D32A9) );
	background:-moz-linear-gradient( top, #0D32A9 5%, #0D32A9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0D32A9', endColorstr='#0D32A9');
	background-color:#0D32A9;
	color:#ffffff ;
}
input[type=submit]:active {
	position:relative;
	top:1px;
}


input[type=password] {
	background:    #ffffff;
    border:        1px solid #d35400;
    color:  #d35400 ;
	float: center; 
	margin: 0 auto;
    height:50px;
    width:250px;
    font-size: 18px;
}

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}
.fieldtitles{
	float:center auto;
}
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-font-smoothing: grayscale;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #2a5b87 solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}




.menu, .menu ul{
list-style: none;
padding: 0;
margin: 0;

}
.menu {
height: 58px;
}
.menu li {
background: -moz-linear-gradient(#07063b, #070723);
background: -ms-linear-gradient(#07063b, #070723);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #4eb819));
background: -webkit-linear-gradient(#07063b, #070723);
background: -o-linear-gradient(#07063b, #070723);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#07063b', endColorstr='#4eb819');
/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(size: tartColorstr='#292929', endColorstr='#4eb819')";*/
background: linear-gradient(#07063b, #070723);
border-bottom: 2px solid #171651;
border-top: 2px solid #556dc7;
min-width: 160px;
}
.menu > li {
display: block;
float: left;
position: relative;
}
.menu > li:first-child {
border-radius: 5px 0 0;
}
.menu a {
border-left: 3px solid rgba(0, 0, 0, 0);
color: #ffffff;
display: block;
font-family: 'Lucida Console';
font-size: 16px;
line-height: 54px;
padding: 0 25px;
text-decoration: none;
text-transform: uppercase;
}

.menu li:hover {
background-color: #5a80ff;
background: -moz-linear-gradient(#5a80ff, #1f2b54);
background: -ms-linear-gradient(#5a80ff, #1f2b54);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5a80ff), color-stop(100%, #1b1b1b));
background: -webkit-linear-gradient(#5a80ff, #1f2b54);
background: -o-linear-gradient(#5a80ff, #1f2b54);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a80ff', endColorstr='#1b1b1b');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a80ff', endColorstr='#1b1b1b')";
background: linear-gradient(#5a80ff, #1f2b54);
border-bottom: 2px solid #171651;
border-top: 2px solid #556dc7;
}
.menu li:hover > a {
border-radius: 5px 0 0 0;
border-left: 3px solid #90f5f4;
color: #9df9ff;
}

/* submenu styles */
.submenu {
left: 0;
max-height: 0;
position: absolute;
top: 100%;
z-index: 0;
-webkit-perspective: 400px;
-moz-perspective: 400px;
-ms-perspective: 400px;
-o-perspective: 400px;
perspective: 400px;
}
.submenu li {
opacity: 0;
-webkit-transform: rotateY(90deg);
-moz-transform: rotateY(90deg);
-ms-transform: rotateY(90deg);
-o-transform: rotateY(90deg);
transform: rotateY(90deg);
-webkit-transition: opacity .4s, -webkit-transform .5s;
-moz-transition: opacity .4s, -moz-transform .5s;
-ms-transition: opacity .4s, -ms-transform .5s;
-o-transition: opacity .4s, -o-transform .5s;
transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
border-left: 3px solid #90f5f4;
border-radius: 0;
color: #9df9ff;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
max-height: 2000px;
z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
opacity: 1;
-webkit-transform: none;
-moz-transform: none;
-ms-transform: none;
-o-transform: none;
transform: none;
}

/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
-webkit-transition-delay: 0s;
-moz-transition-delay: 0s;
-ms-transition-delay: 0s;
-o-transition-delay: 0s;
transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
-webkit-transition-delay: 50ms;
-moz-transition-delay: 50ms;
-ms-transition-delay: 50ms;
-o-transition-delay: 50ms;
transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
-webkit-transition-delay: 100ms;
-moz-transition-delay: 100ms;
-ms-transition-delay: 100ms;
-o-transition-delay: 100ms;
transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
-webkit-transition-delay: 150ms;
-moz-transition-delay: 150ms;
-ms-transition-delay: 150ms;
-o-transition-delay: 150ms;
transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
-webkit-transition-delay: 200ms;
-moz-transition-delay: 200ms;
-ms-transition-delay: 200ms;
-o-transition-delay: 200ms;
transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
-webkit-transition-delay: 250ms;
-moz-transition-delay: 250ms;
-ms-transition-delay: 250ms;
-o-transition-delay: 250ms;
transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
-webkit-transition-delay: 300ms;
-moz-transition-delay: 300ms;
-ms-transition-delay: 300ms;
-o-transition-delay: 300ms;
transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
-webkit-transition-delay: 350ms;
-moz-transition-delay: 350ms;
-ms-transition-delay: 350ms;
-o-transition-delay: 350ms;
transition-delay: 350ms;
}
.submenu li:nth-child(1) {
-webkit-transition-delay: 350ms;
-moz-transition-delay: 350ms;
-ms-transition-delay: 350ms;
-o-transition-delay: 350ms;
transition-delay: 350ms;
}
.submenu li:nth-child(2) {
-webkit-transition-delay: 300ms;
-moz-transition-delay: 300ms;
-ms-transition-delay: 300ms;
-o-transition-delay: 300ms;
transition-delay: 300ms;
}
.submenu li:nth-child(3) {
-webkit-transition-delay: 250ms;
-moz-transition-delay: 250ms;
-ms-transition-delay: 250ms;
-o-transition-delay: 250ms;
transition-delay: 250ms;
}
.submenu li:nth-child(4) {
-webkit-transition-delay: 200ms;
-moz-transition-delay: 200ms;
-ms-transition-delay: 200ms;
-o-transition-delay: 200ms;
transition-delay: 200ms;
}
.submenu li:nth-child(5) {
-webkit-transition-delay: 150ms;
-moz-transition-delay: 150ms;
-ms-transition-delay: 150ms;
-o-transition-delay: 150ms;
transition-delay: 150ms;
}
.submenu li:nth-child(6) {
-webkit-transition-delay: 100ms;
-moz-transition-delay: 100ms;
-ms-transition-delay: 100ms;
-o-transition-delay: 100ms;
transition-delay: 100ms;
}
.submenu li:nth-child(7) {
-webkit-transition-delay: 50ms;
-moz-transition-delay: 50ms;
-ms-transition-delay: 50ms;
-o-transition-delay: 50ms;
transition-delay: 50ms;
}
.submenu li:nth-child(8) {
-webkit-transition-delay: 0s;
-moz-transition-delay: 0s;
-ms-transition-delay: 0s;
-o-transition-delay: 0s;
transition-delay: 0s;
}
